
<h1><%= @cats.name %></h1>

<table>
    <tr>
      <th colspan=2 ><%= @cats.name %></th>
    </tr>
    <tr>
      <th>Attributes</th>
      <th>Values</th>
    </tr>
    <tr>
      <td>Birthdate:</td>
      <td><%= @cats.birth_date %></td>
    </tr>
    <tr>
      <td>Color:</td>
      <td><%= @cats.color %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @cats.name %></td>
    </tr>
    <tr>
      <td>Sex:</td>
      <td><%= @cats.sex %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= @cats.description %></td>
    </tr>
</table>